<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <div class="wrapper">
      <!-- header -->
      <%- include("../partials/headerLoggedIn") %>
      <!-- END header -->
      <% posts.forEach((post) => { %>
      <div class="post">
        <h2 class="post__title"><%- post.title %></h2>
        <p class="post__content"><%- post.content %></p>
        <p class="post__user">投稿者：<%- post.name %></p>
        <div class="like">
          <!-- ログイン中のユーザがいいねしていない -->
          <!-- <a href="/post/<%- post.id %>/like">
            <i class="far fa-heart js-like" data-postId="<%- post.id %>"></i>
          </a> -->
          <!-- ログイン中のユーザがいいね済み -->
          <!-- <a href="/post/<%- post.id %>/like">
            <i class="fas fa-heart has-text-success js-like" data-postId="<%- post.id %>"></i>
          </a> -->
          <!-- <i class="fas fa-heart has-text-success js-like" data-postId="<%- post.id %>"></i> -->
          <!-- END -->
          <i class="far fa-heart js-like" data-postId="<%- post.id %>"></i>
          <i class="fas fa-heart has-text-success js-like" data-postId="<%- post.id %>"></i>
          <span class="like__number"><%- post.likes %></span>
        </div>
        <% if (post.user_id === id) { %>
        <div class="buttons mt-3">
          <a href="/post/<%- post.id %>/edit" class="button is-small is-info is-rounded">編集</a>
          <a
            onclick="return confirm('本当に削除しますか？');"
            href="/post/<%- post.id %>/delete"
            class="button is-small is-danger is-rounded is-outlined"
          >
            削除
          </a>
        </div>
        <% } %>
      </div>
      <% }); %>
      <!-- END -->
    </div>
    <script>
      document.querySelectorAll('.js-like').forEach((icon) => {
        icon.addEventListener('click', (e) => {
          console.log('like click');
          const postId = e.target.getAttribute('data-postId');
          location.href = `http://localhost:3000/post/${postId}/like`;
        });
      });
    </script>
  </body>
</html>
